<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置jsp，防止乱码 -->
	<jsp-config>
		<jsp-property-group>
			<description>   
     Special property group for JSP Configuration JSP example.   
     </description>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.html</url-pattern>
			<el-ignored>true</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude></include-prelude>
			<include-coda></include-coda>
		</jsp-property-group>
	</jsp-config>
 	<!-- 配置jsp，防止乱码 OVER -->
	<error-page>  
 		<error-code>404</error-code>  
 		<location>/error.html</location>  
	</error-page> 
	
	<error-page> 
        <error-code>500</error-code> 
        <location>/error.html</location> 
    </error-page>  
	<servlet>
		<servlet-name>freemarker</servlet-name>
			<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
			<!--下面的配置freemarke的ftl文件的位置 -->
			<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
			</init-param>
			<!-- 是否和服务器（tommcat)一起启动。0为不。1为是-->
			<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>freemarker</servlet-name>
	<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- openSessionInView解决hibernate懒加载问题 -->
	<filter> 
		<filter-name>hibernateFilter</filter-name> 
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class> 
		<init-param>	
			<param-name>singleSession</param-name> 
			<param-value>true</param-value> 
		</init-param> 
	</filter>
	<filter-mapping> 
		<filter-name>hibernateFilter</filter-name> 
		<url-pattern>/*</url-pattern> <!-- 如果访问量或单独页面生成量很大的时候，这么配置感觉会有问题，不能过滤连接 -->
	</filter-mapping> 
	<!-- struts2的配置 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>com.qllt.util.MyStrutsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- spring的配置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--  
	 <error-page>
   		<error-code>404</error-code>
  	 <location>/404.jsp</location>
</error-page>-->
 <!-- OpenSessionInViewFilter一定要在struts2后面初始化才行 -->
 
</web-app>
